<main class="containerPhone">
    <header>
        <p> My phone book</p>
    </header>
    <main>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search text goes phone..."
                aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-success" type="button" (click)="addPhone()">Add phone</button>
            </div>
        </div>
    </main>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Phone number</th>
                <th scope="col">Edite</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of persons; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{person.FName}}</td>
                <td>{{person.LName}}</td>
                <td>{{person.phone}}</td>
                <td><button type="button" class="btn btn-warning">Edite</button></td>
                <td><button type="button" class="btn btn-danger">Delete</button></td>
            </tr>
        </tbody>
    </table>
</main>